<footer class="footer">
  <small>

  </small>
  <nav>
    <ul>
      <%= link_to image_tag("pc_cookies.jpeg", alt: "Cookies logo"),
              'http://rubyonrails.org/' %>

      <li><%= link_to "About",   about_path %></li>

    </ul>
  </nav>
</footer>